@import "tailwindcss";

@theme {
  --color-lightHover: #fae8d2;
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001f;
  --color-light: #fffaff;
  --color-light-blue:#397eed;
  --color-light-black: #214a04;
  --color-light-green: #327d06; 
  --color-greens: #45a312;
  --color-tools: #0d1c05;

  /* color for bg of dates in timeline section */
  --color-background-pink: #fcc2ed;
  --color-pink: #b5049a;
  --color-background-green: #d5fcc2;
  --color-green: #2e801d;
  --color-regular-green: #055c19;  /* organisation font  */
  --color-dot-green: #3cba2f;  /* dot   */
  --color-dot-pink: #e851bd;
  --color-highlight: #d6f5c9;
  --color-highlight-border: #91b881;
  --color-light-pink: #f0a1e8;
  --color-tools: #f5cef3;
  --color-infolist: #e058dc;


  --font-elsie: var(--font-elsie);
  --font-ovo: var(--font-ovo);
  --font-oranienbaum: var(--font-oranienbaum);
  --font-outfit: var(--font-outfit);

  --shadow-black: 4px 4px 0 #ab5799;
  --shadow-white: 4px 4px 0 #fff;
  --shadow-pink: 4px 4px 0 #f7c8f0;
  

  --font-color: #f0ccec;

  

  

  --grid-template-columns-auto: repeat(auto-fit, minmax(200px, 1fr))
}