@import "tailwindcss";

@theme {
  --color-lightHover: #fcf4ff;
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001f;

  --font-Elsie: var(--font-elsie);
  --font-Ovo: var(--font-ovo);
  --font-Oranienbaum: var(--font-oranienbaum);
}